header{
    color:whitesmoke;
    background-color: rgb(73, 53, 3);
}
a{
    border-image: black;
    image-orientation: flip;
}
pre{
    color:black;
    background-color: silver;
    font-size: large;
    font-style:inherit;
   
}

